<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons>
        <ion-button fill="clear" color="tertiary" id="skip">
         Skip
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h3>Buy and Exchange Crypto Tokens instantly.</h3>
    <p>Exchange your crypto faster and easier with our app.</p>
    <ion-button shape="round" class="btn-start" color="tertiary">
      Get started
      <ion-icon name="arrow-forward-outline" class="icon"></ion-icon>
    </ion-button>
  </div>
</ion-content>
